NEXT_PUBLIC_HUNTR_API_BASE_URL=http://localhost:8000
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
NEXTAUTH_SECRET=24494b925bdd9a409c4cf7e5192a1f718c491fbcec60d290c577eb332c0f5cd8
NEXTAUTH_URL=http://localhost:3000